#!/bin/bash

# ==============================
# ArchLinux - Configuration
#
#
# ==============================

# Clavier
# ==============================

KEYMAP="fr"

# Réseau
# ==============================


# Partition
# ==============================

DISK="/dev/sda"
BOOT_PARTITION="$DISK1"
SWAP_PARTITION="$DISK2"
ROOT_PARTITION="$DISK3"

# Système de base
# ==============================

BASE_PACKAGES="base linux linux-firware grub efibootmgr os-prober networkmanager sudo nano reflector"
EXTRA_PACKAGES="bash-completion"

# Configuration de base
# ==============================

TIME_ZONE="Europe/Paris"
LANG="fr_FR.UTF-8"
HOSTNAME="archlinux"

# Chargeur de démarrage
# ==============================


# Utilisateur & Groupe
# ==============================

DEFAULT_USER="johndoe"
DEFAULT_GROUPS="wheel"
USER_PASSWORD=""
ROOT_PASSWORD=""

# Personnalisation
# ==============================

COUNTRY="France"
